.waitingu-room-page {
    height: calc(100vh - 54px);
    min-height: 300px;
    font-size: 16px;
}

.success-message {
    font-size: 1em;
}

.note-message {
    font-size: .75em;
    background-color: var(--c-gray-800);
}

.cashplus {
    font-size: .825em;
}

.btn-download {
    width: fit-content;
    background-color: var(--c-secondary-100);
    color: var(--c-primary);
    font-weight: 600;
}
