<section>
    <div>
        <img src="images/check.png" alt="checking">
        <p>Gọi món thành công, vui lòng chờ nhân viên xác nhận!</p>
        <p><span>Lưu ý:</span> Nếu đợi quá lâu hoặc thay đổi về món đã gọi, bạn có thể dùng chức năng <span>Gọi nhân viên</span> ở màn hình chính hoặc màn hình phản hồi</p>
        <button class="btn">Đồng Ý</button>
    </div>

    <div>
        <img src="images/cashplus-logo.png" alt="CashPlus">
        <div>
            <p>Thanh toán qua CashPlus để được hoàn tiền ngay 10% hóa đơn tương đương 36k </p>
        </div>
    </div>
</section>
