<section class="px-3 d-flex flex-column justify-content-center gap-5 waitingu-room-page">
    <div>
        <div class="mb-4 text-center">
            <img src="images/check.png" alt="checking" class="mb-4">
            <p class="mx-auto w-75 success-message">Gọi món thành công, vui lòng chờ nhân viên xác nhận!</p>
        </div>
        

        <p class="mb-4 py-2 px-3 rounded note-message"><span class="fw-bold">Lưu ý:</span> Nếu đợi quá lâu hoặc thay đổi về món đã gọi, bạn có thể dùng chức năng <span class="fw-bold">Gọi nhân viên</span> ở màn hình chính hoặc màn hình phản hồi</p>
        <a routerLink="/dishes-status" class="mx-auto d-flex align-items-center justify-content-center btn text-white c-bg-primary w-50 btn-confirm">Đồng Ý</a>
    </div>

    <app-cashplus-notification></app-cashplus-notification>
</section>
