.thumbnail {
    width: 70px;
    height: 70px;
}

.dish-title {
    font-size: 14px;
}

.dish-description {
    font-size: 9px;
    color: #5C5C5C;
}

.price {
    font-size: 11px;
    color: var(--c-secondary);

    &.outdated {
        font-size: 9px;
        color: #5C5C5C;
    }
}

.btn-amount {
    width: 14px;
    height: 14px;
    background-color: #27383E;
    border-radius: 2px;
}

.quantity {
    min-width: 20px;
}