@use 'sass:color';

.thumbnail {
    width: 64px;
    height: 64px;
}


.dish-description {
    font-size: 9px;
    color: #5C5C5C;
}

.price {
    color: var(--c-secondary);
    font-weight: 500;

    &.outdated {
        font-size: 11px;
        color: #5C5C5C;
    }
}

.btn-amount,
.btn-add {
    width: 20px;
    height: 20px;
}


.btn-amount {
    border: 1px solid currentColor;
    color: grey;

    &--increase {
        color: var(--c-primary);
        background-color: var(--c-primary-100);
    }
}

.quantity {
    min-width: 24px;
}