<div class="px-3 d-flex align-items-end gap-2 dish">
    <div class="d-flex gap-2">
        <div class="thumbnail">
            <img [src]="dish().avatar" alt="dishes" class="w-100 h-100 d-block">
        </div>
    
        <div class="flex-1">
            <h4 class="dish-title">Gà Viên Hành Tây Sốt Kem</h4>
            <p class="mb-1 lh-sm dish-description">Suất gà dành cho 1-2 người. Gồm gà viên chiên quyện cùng sốt kem béo ngậy.</p>
            <div class="d-flex gap-2">
                <strong class="price">180.000đ</strong>
                <del class="price outdated">199.000đ</del>
            </div>
        </div>
    </div>
    

    <div class="d-flex align-items-center gap-2">
        <button class="d-flex align-items-center justify-content-center btn-amount">
            <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 2H7.5C7.77614 2 8 1.55228 8 1C8 0.447719 7.77614 0 7.5 0H0.5C0.223859 0 0 0.447719 0 1C0 1.55228 0.223859 2 0.5 2Z" fill="white"/>
            </svg>
        </button>
        <span>0</span>
        <button class="d-flex align-items-center justify-content-center btn-amount">
            <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 2H7.5C7.77614 2 8 1.55228 8 1C8 0.447719 7.77614 0 7.5 0H0.5C0.223859 0 0 0.447719 0 1C0 1.55228 0.223859 2 0.5 2Z" fill="white"/>
            </svg>
        </button>
    </div>
</div>