<div class="d-flex fs-sm cashplus">
    <div>
        <img
            src="images/cashplus-logo.png"
            alt="CashPlus" class="d-block" width="46">
    </div>

    <div class="d-flex flex-column justify-content-between flex-1 gap-1">
        <p>Thanh toán qua <span class="fw-bold">CashPlus</span> để được hoàn tiền ngay <span class="fw-bold c-text-secondary">10%</span> hóa đơn tương đương <b class="fw-bold c-text-secondary">36k</b></p>
        <button class="py-2 px-3 fw-bold fs-xs btn btn-download">Tải Cashplus ngay</button>
    </div>
</div>
