.cashplus {
    line-height: 1.25rem;
    gap: 12px;
}

.btn-download {
    width: fit-content;
    background-color: var(--c-secondary-100);
    color: var(--c-primary);
    border: 1px solid var(--c-primary);
}
