<section class="px-3 d-flex flex-column justify-content-between gap-3 welcome">
    <div>
        <div>
            <img src="images/welcome.png" alt="welcome">
            <p class="fs-lg fw-semibold">Nollowa Chicken xin kính chào quý khách!</p>
        </div>

        <p class="mb-4">Mời bạn nhập tên để nhà hàng phục vụ bạn nhanh chóng hơn, chính xác hơn</p>

        <div class="d-flex flex-column gap-3 text-center ">
            <input
                appAutoSelect
                type="text"
                placeholder="Tên của bạn"
                class="text-center border-0 form-control"
                [(ngModel)]="username"
                (keyup.enter)="onSubmit()">
            <button
                class="fw-bold btn btn-start"
                [disabled]="!username"
                (click)="onSubmit()"
            >Bắt đầu</button>
        </div>
    </div>


    <app-cashplus-notification></app-cashplus-notification>

</section>
