@use 'screen';

.welcome {
    min-height: 300px;
    height: calc(100vh - 70px - 190px - 1rem);
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 29px;

    input.form-control {
        height: 40px;
    }
}

.btn-start {
    height: 40px;
    background-color: var(--c-secondary-100);
    color: var(--c-primary);
}
