.page {
    min-height: calc(100vh - 54px);
}

.page-title-control {
    height: 50px;
}

.btn-goback {
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

    color: var(--c-primary);
}

.thumbnail {
    width: 55px;
    height: 55px;
}

.dish-text {
    max-width: 190px;
}

.dish-title {
    font-size: 14px;
}

.dish-description {
    font-size: 9px;
    color: #5C5C5C;
}

.price {
    font-size: 18px;
    color: var(--c-secondary);

    &.outdated {
        font-size: 11px;
        color: #5C5C5C;
    }

    &.total {
        font-size: 24px;
    }
}

.btn-order,
.btn.c-bg-primary {
    height: 35px;

    &:hover {
        background-color: var(--c-primary);
    }
}

.confirm-dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,.75);
}

.btn-large {
    height: 36px;
}