<header class="text-white px-3 d-flex align-items-center justify-content-between border-bottom header">
    <a href="#">
        <img
            src="images/cashplus-logo-w.png"
            alt="logo"
            class="block" width="50px">
    </a>
    <button class="d-flex flex-column gap-1 c-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
</header>
