<section class="pt-2" class="category-page">
    <ul class="d-flex justify-content-between list-unstyled text-nowrap overflow-auto bg-white categories">
        @for(category of categories(); track category.id) {
            <li 
                class="category"
                [class.c-text-primary]="category.selected"
                [class.active]="category.selected"
            ><button class="border-0 btn fs-sm" (click)="onSelectCategory(category)">{{category.title}}</button></li>
        }
    </ul>

    <p class="px-3 text-uppercase c-text-secondary">{{selectedCategoryTitle()}}</p>

    <ul class="px-3 py-2 list-unstyled dishes" [ngStyle]="{marginBottom: '64px'}">
        @for(dish of dishes(); track $index; let first=$first) {
            <li class="border rounded overflow-hidden" [class.mt-2]="!first"><app-dish 
                [dish]="dish"
                (updateQuantity)="onUpdateQuantity($event)"
            ></app-dish></li>
        }
    </ul>

    @if ( selectingDishes().length > 0 ) {
        <div @slideInOutAnimation class="position-fixed cart">
            <app-cart [selectingDishes]="selectingDishes()"></app-cart>
        </div>
    }
</section>
