<section class="pt-2">
    <ul class="px-2 d-flex justify-content-between list-unstyled categories">
        @for(category of categories(); track category.id) {
            <li 
                class="category"
                [class.c-text-primary]="category.selected"
                [class.active]="category.selected"
            ><button (click)="onSelectCategory(category)">{{category.title}}</button></li>
        }
    </ul>

    <h1 class="text-uppercase text-center c-text-secondary title">{{selectedCategoryTitle()}}</h1>

    <ul class="list-unstyled dishes" [ngStyle]="{marginBottom: '64px'}">
        @for(dish of dishes(); track $index) {
            <li class="mt-2"><app-dish 
                [dish]="dish"
                (updateQuantity)="onUpdateQuantity($event)"
            ></app-dish></li>
        }
    </ul>

    @if ( selectingDishes().length > 0 ) {
        <div class="position-fixed cart">
            <app-cart [selectingDishes]="selectingDishes()"></app-cart>
        </div>
    }
</section>
