.category {
    &.active {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 6px);
            height: 2px;

            background-color: currentColor;

        }
    }
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.cart {
    bottom: 0;
    left: 0;
    right: 0;
}