<section class="fs-sm">
    <ul class="mb-0 py-3 px-3 list-unstyled overflow-auto messages">
        <li class="text-end">
            <div class="p-2 d-inline-block rounded message message--user">
                <div class="mb-2 px-1 d-inline-flex align-items-center c-text-primary title"><span>10:04</span><span class="mx-1">|</span><span>Gọi món</span></div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                      </svg>
                    <span>Gà Viên Hành Tây Sốt Kem x1</span>
                </div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                    <span>Gà Lắc Phô Mai x1</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Yêu cầu của bạn đã được gửi tới nhân viên</span>
                </div>
            </div>
        </li>
        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Món ăn của bạn đang được chuẩn bị. Vui lòng chờ ít phút.</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-end">
            <div class="p-2 d-inline-block rounded message message--user">
                <div class="mb-2 px-1 d-inline-flex align-items-center c-text-primary title"><span>10:04</span><span class="mx-1">|</span><span>Gọi món</span></div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                      </svg>
                    <span>Gà Viên Hành Tây Sốt Kem x1</span>
                </div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                    <span>Gà Lắc Phô Mai x1</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Yêu cầu của bạn đã được gửi tới nhân viên</span>
                </div>
            </div>
        </li>
        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Món ăn của bạn đang được chuẩn bị. Vui lòng chờ ít phút.</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-end">
            <div class="p-2 d-inline-block rounded message message--user">
                <div class="mb-2 px-1 d-inline-flex align-items-center c-text-primary title"><span>10:04</span><span class="mx-1">|</span><span>Gọi món</span></div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                      </svg>
                    <span>Gà Viên Hành Tây Sốt Kem x1</span>
                </div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                    <span>Gà Lắc Phô Mai x1</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Yêu cầu của bạn đã được gửi tới nhân viên</span>
                </div>
            </div>
        </li>
        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Món ăn của bạn đang được chuẩn bị. Vui lòng chờ ít phút.</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-end">
            <div class="p-2 d-inline-block rounded message message--user">
                <div class="mb-2 px-1 d-inline-flex align-items-center c-text-primary title"><span>10:04</span><span class="mx-1">|</span><span>Gọi món</span></div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                      </svg>
                    <span>Gà Viên Hành Tây Sốt Kem x1</span>
                </div>
                <div class="d-flex align-items-start gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                    <span>Gà Lắc Phô Mai x1</span>
                </div>
            </div>
        </li>

        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Yêu cầu của bạn đã được gửi tới nhân viên</span>
                </div>
            </div>
        </li>
        <li class="mt-3 text-start">
            <div class="p-2 d-inline-block border rounded message">
                <div class="mb-2 px-1 d-inline-flex align-items-center title"><span>Nhà hàng</span><span class="mx-1">|</span><span>10:04</span></div>
                <div class="d-flex align-items-start gap-1">
                    <span>Món ăn của bạn đang được chuẩn bị. Vui lòng chờ ít phút.</span>
                </div>
            </div>
        </li>
    </ul>

    <div class="p-3 border-top bg-white order-box">
        <a routerLink="/category" class="w-100 d-inline-flex align-items-center justify-content-center btn c-bg-primary text-white fs-sm btn-order">Gọi thêm món</a>
    </div>
</section>
