// Background Color
.c-bg-primary {
    background-color: var(--c-primary);
}

.c-bg-white {
    background-color: var(--c-white);
}

// Start :: Text
.c-text-white {
    color: var(--c-white);
}
.c-text-black {
    color: var(--c-black);
}
.c-text-primary {
    color: var(--c-primary);
}
.c-text-secondary {
    color: var(--c-secondary);
}
.flex-1 {
    flex: 1;
}

.fs-xs {
    font-size: .75rem!important;
}
.fs-sm {
    font-size: .875rem!important;
}
.fs-md {
    font-size: 1rem!important;
}
.fs-lg {
    font-size: 1.25rem!important;
}
.fs-xl {
    font-size: 2rem!important;
}
.fs-xxl {
    font-size: 2.5rem!important;
}

