@use 'screen';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font: {
        size: 16px;
        family: "Inter", sans-serif;
        weight: 400;
    };
    line-height: 1.25;
}

p {
    margin-bottom: 0;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: inherit;

    &.btn {
        font-size: inherit;
    }
}


img {
    display: inline-block;
}

input {
    &::placeholder {
        color: #9b9999 !important;
    }
}


