/* You can add global styles to this file, and also import other style files */
@use './style';

.form-control {
    background-color: var(--c-gray);
    font-size: inherit;

    &:focus {
        box-shadow: none;
        background-color: var(--c-gray);
    }
}

button.btn,
a.btn {
    line-height: 1;
    font-size: inherit;
}

.btn.c-bg-primary {
    &:focus {
        background-color: var(--c-primary);
    }

    &:hover {
        background-color: var(--c-primary);
    }
}
